<div class="page-header">
    <div class="ui-g">
        <div class="ui-g-3 welcome-txt">
            Welcome : {{userName}}
        </div>
        <div class="ui-g-7 header-item">
            ARSS Grocery Store
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
    </div>
</div>
<div>&nbsp;</div>
<div class="page-body">
    <div class="login-div">
        Login Here
    </div>
    <div class="regist-div">
        Register Here
    </div>
</div>
<div>&nbsp;</div>
<div class="page-footer">
    <div class="footer-tech-stack"><b>Tech Stack :</b> Java,Angular,Spring,Rest <br>
        Developed for Learning and Exploring New Technology
    </div>
    <div class="footer-dev">Developed By Ajit,Rama,Sunil,Sinu and Akash</div>
</div>
<div>&nbsp;</div>
<div class="page-footer">
    <div class="footer-tech-stack"><b>About:-</b>
        The project report for provision store - Grocery shop-<br>The retail industry shows a constant positive demand especially for foods and related products.<br>
        The business of grocery stores is the ability to provide their customers with well priced and fresh food items
everyday.
    </div>
</div>